.u-section-1 {
  min-height: 796px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 796px;
  background-image: url("images/foe12.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 796px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Alex Brush";
  margin: 90px 103px 0 74px;
}

.u-section-1 .u-image-2 {
  width: 414px;
  height: 305px;
  margin: 63px auto 0;
}

.u-section-1 .u-text-2 {
  width: 414px;
  letter-spacing: 2px;
  font-family: "Alex Brush";
  margin: 63px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 656px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 656px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 24px;
    margin-right: 53px;
  }

  .u-section-1 .u-image-2 {
    width: 410px;
    height: 302px;
  }

  .u-section-1 .u-text-2 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 502px;
  }

  .u-section-1 .u-image-1 {
    min-height: 502px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 221px;
  }

  .u-section-1 .u-text-2 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 853px;
  }

  .u-section-1 .u-image-1 {
    min-height: 753px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 574px;
  }

  .u-section-1 .u-image-1 {
    min-height: 474px;
  }
}.u-section-2 {
  min-height: 588px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-2 .u-image-1 {
  min-height: 588px;
  background-image: url("images/foe11.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(41,45,51,0.15);
  margin: 0 0 0 -144px;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-image-2 {
  width: 275px;
  height: 241px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 673px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 673px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 673px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 787px;
  }

  .u-section-2 .u-image-1 {
    min-height: 787px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 787px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 791px;
  }

  .u-section-2 .u-image-1 {
    min-height: 744px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 585px;
  }

  .u-section-2 .u-image-1 {
    min-height: 468px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 470px;
  }
}.u-section-3 {
  min-height: 692px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1220px;
  left: auto;
  right: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 279px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  line-height: 2;
  font-weight: 700;
  margin-left: 0;
  margin-right: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 279px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 0 0 17px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 413px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 692px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 30px 80px;
}

.u-section-3 .u-image-1 {
  width: 451px;
  height: 513px;
  margin: 74px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 318px;
    background-position: 50% 96.34%;
  }

  .u-section-3 .u-text-3 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 533px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 258px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -37px;
    margin-right: -66px;
    margin-left: 66px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 623px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 341px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 403px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 155px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin: 112px 53px -149px -53px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 935px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -234px;
    margin-right: -10px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-text-3 {
    margin: -30px 10px -7px -10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 589px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -43px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 784px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 99px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 99px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 13px 164px 0 0;
}

.u-section-4 .u-list-1 {
  min-height: 535px;
  height: auto;
  grid-auto-rows: 100%;
  margin: 30px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 377px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 377px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 377px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 82px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 82px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 104px;
  }

  .u-section-4 .u-list-1 {
    min-height: 441px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 38px;
  }

  .u-section-4 .u-list-1 {
    min-height: 1013px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2109px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 167px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 69px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 34px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 39px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -20px;
    margin-right: 349px;
    margin-left: -10px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -4px;
    margin-bottom: 0;
    min-height: 1823px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 6.66667px);
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 368px;
    width: 528px;
    margin-right: 0;
    margin-left: -8px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 34px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 368px;
    width: 528px;
    margin-right: 0;
    margin-left: -8px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 34px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 368px;
    width: 528px;
    margin-right: 0;
    margin-left: -8px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2510px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 294px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 35px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 95px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 1px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: 151px;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    margin-top: -26px;
    margin-bottom: 60px;
    min-height: 2026px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }

  .u-section-4 .u-image-1 {
    height: 408px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
    margin-right: 178px;
  }

  .u-section-4 .u-image-2 {
    height: 408px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 0;
    margin-right: 178px;
  }

  .u-section-4 .u-image-3 {
    height: 408px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 0;
    margin-right: 178px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 661px;
}

.u-section-5 .u-list-1 {
  min-height: 535px;
  height: auto;
  grid-auto-rows: 100%;
  margin: 0 auto 60px 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 377px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 377px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 377px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-5 .u-list-1 {
    min-height: 441px;
    margin-top: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-5 .u-list-1 {
    min-height: 1212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1883px;
  }

  .u-section-5 .u-list-1 {
    min-height: 535px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 6.66667px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2027px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 0;
    min-height: 2027px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 520px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 595px;
  background-image: url("images/foe21.jpg");
  background-position: 50% 0%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 595px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 491px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 491px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-6 .u-image-1 {
    min-height: 409px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-6 .u-image-1 {
    min-height: 736px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-6 .u-image-1 {
    min-height: 608px;
  }
}.u-section-7 {
  min-height: 307px;
}

.u-section-7 .u-gallery-1 {
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-7 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-back-slide-2 {
  background-position: 50% 0%;
}

.u-section-7 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-7 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 270px;
  }

  .u-section-7 .u-gallery-1 {
    height: 253px;
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 770px;
  }

  .u-section-7 .u-gallery-1 {
    height: 581px;
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 1307px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1307px;
    grid-template-columns: auto;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 858px;
  }

  .u-section-7 .u-gallery-1 {
    height: 858px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 249px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 129px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 15px 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 129px;
}

.u-section-8 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 38px auto;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 106px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/foe4.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 800px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  width: 374px;
  margin: 262px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  width: 856px;
  margin: 30px auto 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-btn-1 {
    margin-bottom: 55px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 500px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 285px;
  height: 200px;
  margin: 80px auto 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 96px 60px 0 48px;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 8px;
    width: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 140px;
    margin-bottom: -106px;
    margin-left: 110px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-right: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 29px;
  }

  .u-section-10 .u-image-1 {
    margin: 65px 15px -101px auto;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }
}